@font-face {
  font-family: 'iconFont';
  src: url(../fonts/font1.woff2) format(woff2);
  font-weight: normal;
}
@font-face {
  font-family: 'font2';
  src: url(../fonts/font2.woff2) format(woff2);
  font-weight: normal;
}
@font-face {
  font-family: 'font3';
  src: url(../fonts/font3.woff2) format(woff2);
  font-weight: normal;
}
@font-face {
  font-family: 'font4';
  src: url(../fonts/font4.woff2) format(woff2);
  font-weight: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


// iconFont
[class^="_"], [class*=" _"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._download_12:before {
  content: "\ea6d";
}
._download_16:before {
  content: "\ea6e";
}
._download_18:before {
  content: "\ea6f";
}
._download_24:before {
  content: "\ea70";
}
._download_48:before {
  content: "\ea71";
}
._coupon_12:before {
  content: "\ea72";
}
._coupon_18:before {
  content: "\ea73";
}
._coupon_24:before {
  content: "\ea74";
}
._coupon_48:before {
  content: "\eb21";
}
._coupon_outline_12:before {
  content: "\eb22";
}
._coupon_outline_18:before {
  content: "\eb23";
}
._coupon_outline_24:before {
  content: "\eb24";
}
._coupon_outline_48:before {
  content: "\eb25";
}
._cash_12:before {
  content: "\eb06";
}
._cash_18:before {
  content: "\eb07";
}
._cash_24:before {
  content: "\eb08";
}
._cash_48:before {
  content: "\eb09";
}
._cash_outline_12:before {
  content: "\eb0a";
}
._cash_outline_18:before {
  content: "\eb0b";
}
._cash_outline_24:before {
  content: "\eb0c";
}
._cash_outline_48:before {
  content: "\eb0d";
}
._circle_won_12:before {
  content: "\eb16";
}
._circle_won_16:before {
  content: "\eb17";
}
._circle_won_18:before {
  content: "\eb18";
}
._circle_won_24:before {
  content: "\eb19";
}
._circle_won_48:before {
  content: "\eb1c";
}
._pause_48:before {
  content: "\eb1d";
}
._pause_24:before {
  content: "\eb1e";
}
._pause_18:before {
  content: "\eb1f";
}
._pause_12:before {
  content: "\eb20";
}
._datalist_12:before {
  content: "\e900";
}
._datalist_18:before {
  content: "\e901";
}
._datalist_24:before {
  content: "\e902";
}
._datalist_outline_12:before {
  content: "\e903";
}
._datalist_outline_18:before {
  content: "\e904";
}
._datalist_outline_24:before {
  content: "\e905";
}
._send_12:before {
  content: "\e906";
}
._send_18:before {
  content: "\e907";
}
._send_24:before {
  content: "\e908";
}
._signout_12:before {
  content: "\e909";
}
._signout_18:before {
  content: "\e90a";
}
._signout_24:before {
  content: "\e90b";
}
._bullhorn_outline_16:before {
  content: "\ea67";
}
._crown_12:before {
  content: "\ea68";
}
._crown_16:before {
  content: "\ea69";
}
._crown_18:before {
  content: "\ea6a";
}
._crown_24:before {
  content: "\ea6b";
}
._crown_48:before {
  content: "\ea6c";
}
._share2_12:before {
  content: "\ea43";
}
._share2_18:before {
  content: "\ea44";
}
._share2_24:before {
  content: "\ea45";
}
._share2_48:before {
  content: "\ea46";
}
._share_12:before {
  content: "\ef01";
}
._share_16:before {
  content: "\ef02";
}
._share_18:before {
  content: "\ef03";
}
._share_24:before {
  content: "\ef04";
}
._share_48:before {
  content: "\ef05";
}
._upload_12:before {
  content: "\eac7";
}
._upload_18:before {
  content: "\eac8";
}
._upload_24:before {
  content: "\eac9";
}
._upload_48:before {
  content: "\eaca";
}
._upload_outline_12:before {
  content: "\eacb";
}
._upload_outline_18:before {
  content: "\eacc";
}
._upload_outline_24:before {
  content: "\eacd";
}
._upload_outline_48:before {
  content: "\eace";
}
._add_16:before {
  content: "\eacf";
}
._add_circle_16:before {
  content: "\ead0";
}
._add_circle_outline_16:before {
  content: "\ead1";
}
._add_thick_16:before {
  content: "\ead2";
}
._arrow_down_16:before {
  content: "\ead3";
}
._arrow_left_16:before {
  content: "\ead4";
}
._arrow_right_16:before {
  content: "\ead5";
}
._arrow_up_16:before {
  content: "\ead6";
}
._check_16:before {
  content: "\ead7";
}
._check_thick_16:before {
  content: "\ead8";
}
._chevron_left_16:before {
  content: "\eadc";
}
._chevron_right_16:before {
  content: "\eadd";
}
._circle_check_outline_12:before {
  content: "\eade";
}
._circle_check_outline_18:before {
  content: "\eadf";
}
._circle_check_outline_24:before {
  content: "\eae0";
}
._circle_check_outline_48:before {
  content: "\eae1";
}
._dismiss_16:before {
  content: "\eae2";
}
._dismiss_circle_16:before {
  content: "\eae3";
}
._dismiss_circle_outline_16:before {
  content: "\eae4";
}
._dismiss_thick_16:before {
  content: "\eae5";
}
._filter_16:before {
  content: "\eae6";
}
._filter_outline_16:before {
  content: "\eae7";
}
._heart_16:before {
  content: "\eae8";
}
._heart_outline_16:before {
  content: "\eae9";
}
._home_12:before {
  content: "\eaea";
}
._home_16:before {
  content: "\eaeb";
}
._home_18:before {
  content: "\eaec";
}
._home_24:before {
  content: "\eaed";
}
._home_48:before {
  content: "\eaee";
}
._home_outline_16:before {
  content: "\eaef";
}
._more_horizontal_16:before {
  content: "\eaf0";
}
._more_vertical_16:before {
  content: "\eaf1";
}
._playcircle_12:before {
  content: "\eaf2";
}
._playcircle_18:before {
  content: "\eaf3";
}
._playcircle_24:before {
  content: "\eaf4";
}
._playcircle_48:before {
  content: "\eaf5";
}
._scrap_16:before {
  content: "\eb02";
}
._scrap_outline_16:before {
  content: "\eb03";
}
._search_16:before {
  content: "\eb04";
}
._stackedimages_12:before {
  content: "\eb0e";
}
._stackedimages_18:before {
  content: "\eb0f";
}
._stackedimages_24:before {
  content: "\eb10";
}
._stackedimages_48:before {
  content: "\eb11";
}
._stackedimages_outline_12:before {
  content: "\eb12";
}
._stackedimages_outline_18:before {
  content: "\eb13";
}
._stackedimages_outline_24:before {
  content: "\eb14";
}
._stackedimages_outline_48:before {
  content: "\eb15";
}
._subtract_16:before {
  content: "\eb1a";
}
._subtract_thick_16:before {
  content: "\eb1b";
}
._call_12:before {
  content: "\eabd";
}
._call_outline_12:before {
  content: "\eabe";
}
._call_16:before {
  content: "\eabf";
}
._call_outline_16:before {
  content: "\eac0";
}
._call_18:before {
  content: "\eac1";
}
._call_outline_18:before {
  content: "\eac2";
}
._call_24:before {
  content: "\eac3";
}
._call_outline_24:before {
  content: "\eac4";
}
._call_48:before {
  content: "\eac5";
}
._call_outline_48:before {
  content: "\eac6";
}
._add_12:before {
  content: "\e90c";
}
._add_18:before {
  content: "\e90d";
}
._add_24:before {
  content: "\e90e";
}
._add_48:before {
  content: "\e90f";
}
._add_circle_12:before {
  content: "\e910";
}
._add_circle_18:before {
  content: "\e911";
}
._add_circle_24:before {
  content: "\e912";
}
._add_circle_48:before {
  content: "\e913";
}
._add_circle_outline_12:before {
  content: "\e914";
}
._add_circle_outline_18:before {
  content: "\e915";
}
._add_circle_outline_24:before {
  content: "\e916";
}
._add_circle_outline_48:before {
  content: "\e917";
}
._add_thick_12:before {
  content: "\e918";
}
._add_thick_18:before {
  content: "\e919";
}
._add_thick_24:before {
  content: "\e91a";
}
._add_thick_48:before {
  content: "\e91b";
}
._alert_12:before {
  content: "\e91c";
}
._alert_18:before {
  content: "\e91d";
}
._alert_24:before {
  content: "\e91e";
}
._alert_48:before {
  content: "\e91f";
}
._alert_outline_12:before {
  content: "\e920";
}
._alert_outline_18:before {
  content: "\e921";
}
._alert_outline_24:before {
  content: "\e922";
}
._alert_outline_48:before {
  content: "\e923";
}
._arrow_clockwise_12:before {
  content: "\e924";
}
._arrow_clockwise_18:before {
  content: "\e925";
}
._arrow_clockwise_24:before {
  content: "\e926";
}
._arrow_clockwise_48:before {
  content: "\e927";
}
._arrow_down_12:before {
  content: "\e928";
}
._arrow_down_18:before {
  content: "\e929";
}
._arrow_down_24:before {
  content: "\e92a";
}
._arrow_down_48:before {
  content: "\e92b";
}
._arrow_left_12:before {
  content: "\e92c";
}
._arrow_left_18:before {
  content: "\e92d";
}
._arrow_left_24:before {
  content: "\e92e";
}
._arrow_left_48:before {
  content: "\e92f";
}
._arrow_right_12:before {
  content: "\e930";
}
._arrow_right_18:before {
  content: "\e931";
}
._arrow_right_24:before {
  content: "\e932";
}
._arrow_right_48:before {
  content: "\e933";
}
._arrow_up_12:before {
  content: "\e934";
}
._arrow_up_18:before {
  content: "\e935";
}
._arrow_up_24:before {
  content: "\e936";
}
._arrow_up_48:before {
  content: "\e937";
}
._bullhorn_outline_12:before {
  content: "\e938";
}
._bullhorn_outline_18:before {
  content: "\e939";
}
._bullhorn_outline_24:before {
  content: "\e93a";
}
._bullhorn_outline_48:before {
  content: "\e93b";
}
._calculator_12:before {
  content: "\e93c";
}
._calculator_18:before {
  content: "\e93d";
}
._calculator_24:before {
  content: "\e93e";
}
._calculator_48:before {
  content: "\e93f";
}
._calendar_outline_12:before {
  content: "\e940";
}
._calendar_outline_18:before {
  content: "\e941";
}
._calendar_outline_24:before {
  content: "\e942";
}
._calendar_outline_48:before {
  content: "\e943";
}
._camera_12:before {
  content: "\e944";
}
._camera_18:before {
  content: "\e945";
}
._camera_24:before {
  content: "\e946";
}
._camera_48:before {
  content: "\e947";
}
._camera_outline_12:before {
  content: "\e948";
}
._camera_outline_18:before {
  content: "\e949";
}
._camera_outline_24:before {
  content: "\e94a";
}
._camera_outline_48:before {
  content: "\e94b";
}
._cart_12:before {
  content: "\e94c";
}
._cart_18:before {
  content: "\e94d";
}
._cart_24:before {
  content: "\e94e";
}
._cart_48:before {
  content: "\e94f";
}
._category_12:before {
  content: "\e950";
}
._category_18:before {
  content: "\e951";
}
._category_24:before {
  content: "\e952";
}
._category_48:before {
  content: "\e953";
}
._category_outline_12:before {
  content: "\e954";
}
._category_outline_18:before {
  content: "\e955";
}
._category_outline_24:before {
  content: "\e956";
}
._category_outline_48:before {
  content: "\e957";
}
._check_12:before {
  content: "\e958";
}
._check_18:before {
  content: "\e959";
}
._check_24:before {
  content: "\e95a";
}
._check_48:before {
  content: "\e95b";
}
._check_thick_12:before {
  content: "\e95c";
}
._check_thick_18:before {
  content: "\e95d";
}
._check_thick_24:before {
  content: "\e95e";
}
._check_thick_48:before {
  content: "\e95f";
}
._chevron_down_12:before {
  content: "\e960";
}
._chevron_down_18:before {
  content: "\e961";
}
._chevron_down_24:before {
  content: "\e962";
}
._chevron_down_48:before {
  content: "\e963";
}
._chevron_left_12:before {
  content: "\e964";
}
._chevron_left_18:before {
  content: "\e965";
}
._chevron_left_24:before {
  content: "\e966";
}
._chevron_left_48:before {
  content: "\e967";
}
._chevron_right_12:before {
  content: "\e968";
}
._chevron_right_18:before {
  content: "\e969";
}
._chevron_right_24:before {
  content: "\e96a";
}
._chevron_right_48:before {
  content: "\e96b";
}
._chevron_thick_down_12:before {
  content: "\e96c";
}
._chevron_thick_down_18:before {
  content: "\e96d";
}
._chevron_thick_down_24:before {
  content: "\e96e";
}
._chevron_thick_down_48:before {
  content: "\e96f";
}
._chevron_thick_left_12:before {
  content: "\e970";
}
._chevron_thick_left_18:before {
  content: "\e971";
}
._chevron_thick_left_24:before {
  content: "\e972";
}
._chevron_thick_left_48:before {
  content: "\e973";
}
._chevron_thick_right_12:before {
  content: "\e974";
}
._chevron_thick_right_18:before {
  content: "\e975";
}
._chevron_thick_right_24:before {
  content: "\e976";
}
._chevron_thick_right_48:before {
  content: "\e977";
}
._chevron_thick_up_12:before {
  content: "\e978";
}
._chevron_thick_up_18:before {
  content: "\e979";
}
._chevron_thick_up_24:before {
  content: "\e97a";
}
._chevron_thick_up_48:before {
  content: "\e97b";
}
._chevron_up_12:before {
  content: "\e97c";
}
._chevron_up_18:before {
  content: "\e97d";
}
._chevron_up_24:before {
  content: "\e97e";
}
._chevron_up_48:before {
  content: "\e97f";
}
._circle_12:before {
  content: "\e980";
}
._circle_18:before {
  content: "\e981";
}
._circle_24:before {
  content: "\e982";
}
._circle_48:before {
  content: "\e983";
}
._circle_check_12:before {
  content: "\e984";
}
._circle_check_18:before {
  content: "\e985";
}
._circle_check_24:before {
  content: "\e986";
}
._circle_check_48:before {
  content: "\e987";
}
._clock_12:before {
  content: "\e988";
}
._clock_18:before {
  content: "\e989";
}
._clock_24:before {
  content: "\e98a";
}
._clock_48:before {
  content: "\e98b";
}
._clock_outline_12:before {
  content: "\e98c";
}
._clock_outline_18:before {
  content: "\e98d";
}
._clock_outline_24:before {
  content: "\e98e";
}
._clock_outline_48:before {
  content: "\e98f";
}
._comment_12:before {
  content: "\e990";
}
._comment_18:before {
  content: "\e991";
}
._comment_24:before {
  content: "\e992";
}
._comment_48:before {
  content: "\e993";
}
._comment_outline_12:before {
  content: "\e994";
}
._comment_outline_18:before {
  content: "\e995";
}
._comment_outline_24:before {
  content: "\e996";
}
._comment_outline_48:before {
  content: "\e997";
}
._contentlist_12:before {
  content: "\e998";
}
._contentlist_18:before {
  content: "\e999";
}
._contentlist_24:before {
  content: "\e99a";
}
._contentlist_48:before {
  content: "\e99b";
}
._coupon_121:before {
  content: "\e99c";
}
._coupon_181:before {
  content: "\e99d";
}
._coupon_241:before {
  content: "\e99e";
}
._coupon_481:before {
  content: "\e99f";
}
._coupon_outline_121:before {
  content: "\e9a0";
}
._coupon_outline_181:before {
  content: "\e9a1";
}
._coupon_outline_241:before {
  content: "\e9a2";
}
._coupon_outline_481:before {
  content: "\e9a3";
}
._credit_12:before {
  content: "\e9a4";
}
._credit_18:before {
  content: "\e9a5";
}
._credit_24:before {
  content: "\e9a6";
}
._credit_48:before {
  content: "\e9a7";
}
._credit_outline_12:before {
  content: "\e9a8";
}
._credit_outline_18:before {
  content: "\e9a9";
}
._credit_outline_24:before {
  content: "\e9aa";
}
._credit_outline_48:before {
  content: "\e9ab";
}
._current_location_12:before {
  content: "\e9ac";
}
._current_location_18:before {
  content: "\e9ad";
}
._current_location_24:before {
  content: "\e9ae";
}
._current_location_48:before {
  content: "\e9af";
}
._delete_12:before {
  content: "\e9b0";
}
._delete_18:before {
  content: "\e9b1";
}
._delete_24:before {
  content: "\e9b2";
}
._delete_48:before {
  content: "\e9b3";
}
._delete_outline_12:before {
  content: "\e9b4";
}
._delete_outline_18:before {
  content: "\e9b5";
}
._delete_outline_24:before {
  content: "\e9b6";
}
._delete_outline_48:before {
  content: "\e9b7";
}
._dismiss_12:before {
  content: "\e9b8";
}
._dismiss_18:before {
  content: "\e9b9";
}
._dismiss_24:before {
  content: "\e9ba";
}
._dismiss_48:before {
  content: "\e9bb";
}
._dismiss_circle_12:before {
  content: "\e9bc";
}
._dismiss_circle_18:before {
  content: "\e9bd";
}
._dismiss_circle_24:before {
  content: "\e9be";
}
._dismiss_circle_48:before {
  content: "\e9bf";
}
._dismiss_circle_outline_12:before {
  content: "\e9c0";
}
._dismiss_circle_outline_18:before {
  content: "\e9c1";
}
._dismiss_circle_outline_24:before {
  content: "\e9c2";
}
._dismiss_circle_outline_48:before {
  content: "\e9c3";
}
._dismiss_thick_12:before {
  content: "\e9c4";
}
._dismiss_thick_18:before {
  content: "\e9c5";
}
._dismiss_thick_24:before {
  content: "\e9c6";
}
._dismiss_thick_48:before {
  content: "\e9c7";
}
._dropdown_12:before {
  content: "\e9c8";
}
._dropdown_18:before {
  content: "\e9c9";
}
._dropdown_24:before {
  content: "\e9ca";
}
._fastplay_12:before {
  content: "\e9cb";
}
._fastplay_18:before {
  content: "\e9cc";
}
._fastplay_24:before {
  content: "\e9cd";
}
._fastplay_48:before {
  content: "\e9ce";
}
._filter_12:before {
  content: "\e9cf";
}
._filter_18:before {
  content: "\e9d0";
}
._filter_24:before {
  content: "\e9d1";
}
._filter_48:before {
  content: "\e9d2";
}
._filter_outline_12:before {
  content: "\e9d3";
}
._filter_outline_18:before {
  content: "\e9d4";
}
._filter_outline_24:before {
  content: "\e9d5";
}
._filter_outline_48:before {
  content: "\e9d6";
}
._heart_12:before {
  content: "\e9d7";
}
._heart_18:before {
  content: "\e9d8";
}
._heart_24:before {
  content: "\e9d9";
}
._heart_48:before {
  content: "\e9da";
}
._heart_outline_12:before {
  content: "\e9db";
}
._heart_outline_18:before {
  content: "\e9dc";
}
._heart_outline_24:before {
  content: "\e9dd";
}
._heart_outline_48:before {
  content: "\e9de";
}
._home_outline_12:before {
  content: "\e9df";
}
._home_outline_18:before {
  content: "\e9e0";
}
._home_outline_24:before {
  content: "\e9e1";
}
._home_outline_48:before {
  content: "\e9e2";
}
._info_12:before {
  content: "\e9e3";
}
._info_18:before {
  content: "\e9e4";
}
._info_24:before {
  content: "\e9e5";
}
._info_48:before {
  content: "\e9e6";
}
._info_outline_12:before {
  content: "\e9e7";
}
._info_outline_18:before {
  content: "\e9e8";
}
._info_outline_24:before {
  content: "\e9e9";
}
._info_outline_48:before {
  content: "\e9ea";
}
._launch_12:before {
  content: "\e9eb";
}
._launch_18:before {
  content: "\e9ec";
}
._launch_24:before {
  content: "\e9ed";
}
._launch_48:before {
  content: "\e9ee";
}
._link_12:before {
  content: "\e9ef";
}
._link_18:before {
  content: "\e9f0";
}
._link_24:before {
  content: "\e9f1";
}
._link_48:before {
  content: "\e9f2";
}
._location_12:before {
  content: "\e9f3";
}
._location_18:before {
  content: "\e9f4";
}
._location_24:before {
  content: "\e9f5";
}
._location_48:before {
  content: "\e9f6";
}
._location_outline_12:before {
  content: "\e9f7";
}
._location_outline_18:before {
  content: "\e9f8";
}
._location_outline_24:before {
  content: "\e9f9";
}
._location_outline_48:before {
  content: "\e9fa";
}
._lock_12:before {
  content: "\e9fb";
}
._lock_18:before {
  content: "\e9fc";
}
._lock_24:before {
  content: "\e9fd";
}
._lock_48:before {
  content: "\e9fe";
}
._lock_outline_12:before {
  content: "\e9ff";
}
._lock_outline_18:before {
  content: "\ea00";
}
._lock_outline_24:before {
  content: "\ea01";
}
._lock_outline_48:before {
  content: "\ea02";
}
._menu_12:before {
  content: "\ea03";
}
._menu_18:before {
  content: "\ea04";
}
._menu_24:before {
  content: "\ea05";
}
._menu_48:before {
  content: "\ea06";
}
._more_horizontal_12:before {
  content: "\ea07";
}
._more_horizontal_18:before {
  content: "\ea08";
}
._more_horizontal_24:before {
  content: "\ea09";
}
._more_horizontal_48:before {
  content: "\ea0a";
}
._more_vertical_12:before {
  content: "\ea0b";
}
._more_vertical_18:before {
  content: "\ea0c";
}
._more_vertical_24:before {
  content: "\ea0d";
}
._more_vertical_48:before {
  content: "\ea0e";
}
._notification_12:before {
  content: "\ea0f";
}
._notification_18:before {
  content: "\ea10";
}
._notification_24:before {
  content: "\ea11";
}
._notification_48:before {
  content: "\ea12";
}
._notification_outline_12:before {
  content: "\ea13";
}
._notification_outline_18:before {
  content: "\ea14";
}
._notification_outline_24:before {
  content: "\ea15";
}
._notification_outline_48:before {
  content: "\ea16";
}
._play_12:before {
  content: "\ea17";
}
._play_18:before {
  content: "\ea18";
}
._play_24:before {
  content: "\ea19";
}
._play_48:before {
  content: "\ea1a";
}
._play_circle_outline_12:before {
  content: "\ea1b";
}
._play_circle_outline_18:before {
  content: "\ea1c";
}
._play_circle_outline_24:before {
  content: "\ea1d";
}
._play_circle_outline_48:before {
  content: "\ea1e";
}
._point_12:before {
  content: "\ea1f";
}
._point_18:before {
  content: "\ea20";
}
._point_24:before {
  content: "\ea21";
}
._point_48:before {
  content: "\ea22";
}
._point_outline_12:before {
  content: "\ea23";
}
._point_outline_18:before {
  content: "\ea24";
}
._point_outline_24:before {
  content: "\ea25";
}
._point_outline_48:before {
  content: "\ea26";
}
._present_12:before {
  content: "\ea27";
}
._present_18:before {
  content: "\ea28";
}
._present_24:before {
  content: "\ea29";
}
._present_48:before {
  content: "\ea2a";
}
._present_outline_12:before {
  content: "\ea2b";
}
._present_outline_18:before {
  content: "\ea2c";
}
._present_outline_24:before {
  content: "\ea2d";
}
._present_outline_48:before {
  content: "\ea2e";
}
._pro_12:before {
  content: "\ea2f";
}
._pro_18:before {
  content: "\ea30";
}
._pro_24:before {
  content: "\ea31";
}
._pro_48:before {
  content: "\ea32";
}
._pro_outline_12:before {
  content: "\ea33";
}
._pro_outline_18:before {
  content: "\ea34";
}
._pro_outline_24:before {
  content: "\ea35";
}
._pro_outline_48:before {
  content: "\ea36";
}
._question_12:before {
  content: "\ea37";
}
._question_18:before {
  content: "\ea38";
}
._question_24:before {
  content: "\ea39";
}
._question_48:before {
  content: "\ea3a";
}
._question_outline_12:before {
  content: "\ea3b";
}
._question_outline_18:before {
  content: "\ea3c";
}
._question_outline_24:before {
  content: "\ea3d";
}
._question_outline_48:before {
  content: "\ea3e";
}
._scrap_12:before {
  content: "\ea3f";
}
._scrap_18:before {
  content: "\ea40";
}
._scrap_24:before {
  content: "\ea41";
}
._scrap_48:before {
  content: "\ea42";
}
._scrap_outline_12:before {
  content: "\ea47";
}
._scrap_outline_18:before {
  content: "\ea48";
}
._scrap_outline_24:before {
  content: "\ea49";
}
._scrap_outline_48:before {
  content: "\ea4a";
}
._search_12:before {
  content: "\ea4b";
}
._search_18:before {
  content: "\ea4c";
}
._search_24:before {
  content: "\ea4d";
}
._search_48:before {
  content: "\ea4e";
}
._setting_outline_12:before {
  content: "\ea4f";
}
._setting_outline_18:before {
  content: "\ea50";
}
._setting_outline_24:before {
  content: "\ea51";
}
._setting_outline_48:before {
  content: "\ea52";
}
._shield_12:before {
  content: "\ea53";
}
._shield_18:before {
  content: "\ea54";
}
._shield_24:before {
  content: "\ea55";
}
._shield_48:before {
  content: "\ea56";
}
._shield_outline_12:before {
  content: "\ea57";
}
._shield_outline_18:before {
  content: "\ea58";
}
._shield_outline_24:before {
  content: "\ea59";
}
._shield_outline_48:before {
  content: "\ea5a";
}
._signed_12:before {
  content: "\ea5b";
}
._signed_18:before {
  content: "\ea5c";
}
._signed_24:before {
  content: "\ea5d";
}
._signed_48:before {
  content: "\ea5e";
}
._signed_outline_12:before {
  content: "\ea5f";
}
._signed_outline_18:before {
  content: "\ea60";
}
._signed_outline_24:before {
  content: "\ea61";
}
._signed_outline_48:before {
  content: "\ea62";
}
._sorting_12:before {
  content: "\ea63";
}
._sorting_18:before {
  content: "\ea64";
}
._sorting_24:before {
  content: "\ea65";
}
._sorting_48:before {
  content: "\ea66";
}
._star_12:before {
  content: "\ea75";
}
._star_18:before {
  content: "\ea76";
}
._star_24:before {
  content: "\ea77";
}
._star_48:before {
  content: "\ea78";
}
._store_12:before {
  content: "\ea79";
}
._store_18:before {
  content: "\ea7a";
}
._store_24:before {
  content: "\ea7b";
}
._store_48:before {
  content: "\ea7c";
}
._store_outline_12:before {
  content: "\ea7d";
}
._store_outline_18:before {
  content: "\ea7e";
}
._store_outline_24:before {
  content: "\ea7f";
}
._store_outline_48:before {
  content: "\ea80";
}
._subtract_12:before {
  content: "\ea81";
}
._subtract_18:before {
  content: "\ea82";
}
._subtract_24:before {
  content: "\ea83";
}
._subtract_48:before {
  content: "\ea84";
}
._subtract_thick_12:before {
  content: "\ea85";
}
._subtract_thick_18:before {
  content: "\ea86";
}
._subtract_thick_24:before {
  content: "\ea87";
}
._subtract_thick_48:before {
  content: "\ea88";
}
._tag_12:before {
  content: "\ea89";
}
._tag_18:before {
  content: "\ea8a";
}
._tag_24:before {
  content: "\ea8b";
}
._tag_48:before {
  content: "\ea8c";
}
._text_bold_12:before {
  content: "\ea8d";
}
._text_bold_18:before {
  content: "\ea8e";
}
._text_bold_24:before {
  content: "\ea8f";
}
._text_bold_48:before {
  content: "\ea90";
}
._text_italic_12:before {
  content: "\ea91";
}
._text_italic_18:before {
  content: "\ea92";
}
._text_italic_24:before {
  content: "\ea93";
}
._text_italic_48:before {
  content: "\ea94";
}
._text_underline_12:before {
  content: "\ea95";
}
._text_underline_18:before {
  content: "\ea96";
}
._text_underline_24:before {
  content: "\ea97";
}
._text_underline_48:before {
  content: "\ea98";
}
._truck_18:before {
  content: "\ea99";
}
._truck_24:before {
  content: "\ea9a";
}
._truck_48:before {
  content: "\ea9b";
}
._truck_outline_18:before {
  content: "\ea9c";
}
._truck_outline_24:before {
  content: "\ea9d";
}
._truck_outline_48:before {
  content: "\ea9e";
}
._undo_12:before {
  content: "\ea9f";
}
._undo_18:before {
  content: "\eaa0";
}
._undo_24:before {
  content: "\eaa1";
}
._undo_48:before {
  content: "\eaa2";
}
._user_12:before {
  content: "\eaa3";
}
._user_18:before {
  content: "\eaa4";
}
._user_24:before {
  content: "\eaa5";
}
._user_48:before {
  content: "\eaa6";
}
._user_outline_12:before {
  content: "\eaa7";
}
._user_outline_18:before {
  content: "\eaa8";
}
._user_outline_24:before {
  content: "\eaa9";
}
._user_outline_48:before {
  content: "\eaaa";
}
._view_list_12:before {
  content: "\eaab";
}
._view_list_18:before {
  content: "\eaac";
}
._view_list_24:before {
  content: "\eaad";
}
._view_list_48:before {
  content: "\eaae";
}
._view_thumbnail_12:before {
  content: "\eaaf";
}
._view_thumbnail_18:before {
  content: "\eab0";
}
._view_thumbnail_24:before {
  content: "\eab1";
}
._view_thumbnail_48:before {
  content: "\eab2";
}
._volume_mute_12:before {
  content: "\eab3";
}
._volume_mute_18:before {
  content: "\eab4";
}
._volume_mute_24:before {
  content: "\eab5";
}
._volume_mute_48:before {
  content: "\eab6";
}
._volume_on_12:before {
  content: "\eab7";
}
._volume_on_18:before {
  content: "\eab8";
}
._volume_on_24:before {
  content: "\eab9";
}
._volume_on_48:before {
  content: "\eaba";
}
._won_12:before {
  content: "\eabb";
}
._won_18:before {
  content: "\eabc";
}
._won_24:before {
  content: "\ead9";
}
._won_48:before {
  content: "\eada";
}
._write_12:before {
  content: "\eadb";
}
._write_18:before {
  content: "\eaf6";
}
._write_24:before {
  content: "\eaf7";
}
._write_48:before {
  content: "\eaf8";
}
._write_outline_12:before {
  content: "\eaf9";
}
._write_outline_18:before {
  content: "\eafa";
}
._write_outline_24:before {
  content: "\eafb";
}
._write_outline_48:before {
  content: "\eafc";
}
._triangleup_12:before {
  content: "\eafd";
}
._triangleup_18:before {
  content: "\eafe";
}
._triangleup_24:before {
  content: "\eaff";
}
._unconverted_12:before {
  content: "\eb00";
}
._unconverted_18:before {
  content: "\eb01";
}
._unconverted_24:before {
  content: "\eb05";
}
